<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th colspan="1" rowspan="1" width="90">车次</th>
        <th colspan="1" rowspan="1" width="100">
            出发站
            <br clear="none">
            到达站
        </th>
        <th colspan="1" rowspan="1" width="82">
            <span>出发时间</span>
            <span>到达时间</span>
        </th>
        <th colspan="1" rowspan="1" width="82">
            <span>历时</span>
        </th>
        <th colspan="1" rowspan="1" width="49">
            商务座
            <br clear="none">
            特等座
        </th>
        <th colspan="1" rowspan="1" width="49">一等座 </th>
        <th colspan="1" rowspan="1" width="49">二等座 </th>
        <th colspan="1" rowspan="1" width="49">
            高级
            <br clear="none">
            软卧
        </th>
        <th colspan="1" rowspan="1" width="49">软卧</th>
        <th colspan="1" rowspan="1" width="49">动卧</th>
        <th colspan="1" rowspan="1" width="49">硬卧</th>
        <th colspan="1" rowspan="1" width="49">软座</th>
        <th colspan="1" rowspan="1" width="49">硬座</th>
        <th colspan="1" rowspan="1" width="49">无座</th>
        <th colspan="1" rowspan="1" width="49">其他</th>



    </tr>
    </thead>
</table>
</body>
</html>